
/* font face declarations */

@font-face {
  font-family: "FolioBkBT";
  src: url("/assets/fonts/Folio-Bk-BT-Book.ttf") format("truetype");
  font-weight: normal;
}

/* type styles */

html {
  font-family: "FolioBkBT", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
li,
p {
  font-weight: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
li {
  font-size: 18px;
}

p {
  font-size: 14px;
}

article p:first-of-type {
  margin-top: 4px;
}

article p:last-of-type {
  margin-bottom: 4px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: black;
}



/* media queries */
