.gslide-image img {
  width: 100vw !important;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.gslide-image img.portrait {
  width: 100%;
  height: 100vh;
}

.gslide-media {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.gdesc-inner div.gslide-desc,
.glightbox-mobile .glightbox-container .gslide-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gslide-description {
  max-width: none !important;
}

.glightbox-clean .gdesc-inner,
.glightbox-mobile .glightbox-container .gslide-description {
  padding: 10px 20px;
}

.glightbox-clean .gdesc-inner p,
.glightbox-mobile .glightbox-container .gslide-description p {
  margin: 0;
  padding: 0;
}

.glightbox-mobile .glightbox-container .gslide-description {
  background: white;
  color: black !important;
}

.glightbox-clean .gclose,
.glightbox-clean .gclose:hover {
  background-color: white;
  opacity: 1;
  border: 1px solid black;
  border-radius: 19px;
  font-size: 16px;
  width: 38px;
  height: 33px;
}

.glightbox-clean button.gnext,
.glightbox-clean button.gprev {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 10;
  height: 100vh;
  width: 50vw;
  opacity: 0;
  background: none;
}

.glightbox-clean button.gprev {
  left: 0;
}

.glightbox-clean button.gnext {
  right: 0;
}

.glightbox-clean button.gprev:hover {
  cursor: w-resize;
}

.glightbox-clean button.gnext:hover {
  cursor: e-resize;
}

#glightbox-body div.goverlay {
  background-color: white !important;
}
