/* 
article.info {
  max-width: 300px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.swiper-container figure {
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

figure {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide img {
  height: 100vh;
  width: auto;
}

figcaption {
  position: absolute;
  bottom: 0px;
  background: white;
  width: 100vw;
  padding: 12px 0;
}

.caption-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caption-inner:first-child {
  padding-left: 30px;
}

.caption-inner:last-child {
  padding-right: 30px;
}

#close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 20px;
  width: 40px;
  height: 30px;
  background: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 99;
}

#close-button span {
  font-family: "FolioBkBT", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 3px;
}
