html,
body {
  margin: 0;
  padding: 0;
}

main {
  margin: 30px;
}

h1 {
  margin-bottom: 7px;
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

ul li {
  margin-bottom: 12px;
}

ul li:before {
	content: "└";
	position: absolute;
	left: 0;
}

ul li.i-2, ul li.i-2:before {
  margin-left: 20px;
}

ul li.i-3, ul li.i-3:before {
  margin-left: 40px;
}
